@{
    Layout = null;
    //Data from http://www.fftoday.com/
}

<!DOCTYPE html>

<html>
<head>
    <title>Fantasy Drafter @DateTime.Now.Year by Bill Hamilton</title>
    <script src="../../Scripts/jquery-1.7.1.min.js"></script>
    <script src="../../Scripts/FFScript.js"></script>
    <script src="../../Scripts/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
    <link href="../../Content/FF.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />
    <link href="../../Content/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form>
        <div id="dialog-ADP" title="ADP">
            <p>
                <table id="adpTable" width="100%">
                    <tbody>
                        <tr><th>Rank</th><th>Type</th><th>Player</th><th>Team</th><th>Bye</th><th>ADP</th></tr>
                    </tbody>
                </table>
            </p>
        </div>
        <div id="header">
            <div class="container">
                <h2 class="h2Style">Fantasy Masta-Drafta @DateTime.Now.Year</h2>
                <h4 class="h4Style"></h4>
                <br />
                <input type="text" name="search-term" id="search-term" />
                <input type="submit" name="search-button" id="search-button" value="search" />
                <label class="searchResults"></label>
                <span class="anchorLinks">
                    <a href="#" id="adp-opener">ADP Remaining</a> |
                    <a href="#" id="adp-RBs">ADP RBs</a> |
                    <a href="#" id="adp-WRs">ADP WRs</a> |
                    <a href="#" id="adp-QBs">ADP QBs</a> |
                    <a href="#" id="adp-TEs">ADP TEs</a> |
                    <a href="#WideRecievers">WideRecievers</a> | <a href="#QuarterBacks">QuarterBacks</a> | <a href="#RunningBacks">RunningBacks</a> |
                    <a href="#TightEnds">TightEnds</a> | <a href="#Defenses">Defenses</a> | <a href="#Kickers">Kickers</a>
                    (Shift-Click to add to roster)
                </span>
                <table width='100%' border="0" cellpadding="0" cellspacing="0">
                    <tr class="note-td">
                        <td>
                            <table class="myPlayers" width="100%" border="0" cellpadding="2" cellspacing="0">
                                <tr class='tablehdr'>
                                    <td align='center' nowrap>Remove</td>
                                    <td nowrap>Player</td>
                                    <td nowrap>Bye Week</td>
                                    <td nowrap>Team</td>
                                    <td nowrap>Position</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="content" class="container">
            <div class="inner">
                <table class="allPlayers" width="100%" border="0" cellpadding="2" cellspacing="0">
                    <tr class="note-td">
                        <td width='49%' valign='top'>
                            <a name="WideRecievers"></a>
                            @Html.Partial("WideReceivers")
                            <a name="QuarterBacks"></a>
                            @Html.Partial("QuarterBacks")
                            <a name="Kickers"></a>
                            @Html.Partial("Kickers")
                        </td>

                        <td width='2%'>&nbsp;</td>

                        <td width='49%' valign='top'>
                            <a name="RunningBacks"></a>
                            @Html.Partial("RunningBacks")
                            <a name="TightEnds"></a>
                            @Html.Partial("TightEnds")
                            <a name="Defenses"></a>
                            @Html.Partial("Defenses")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</body>
</html>
